body {
    font-family: 'Spline Sans', sans-serif;
    margin: 0;
}

.orange-color {

    color: coral;


}

h1 {
    font-size: 50px;
}

.flax-continer {
    display: flex;
    margin-bottom: 150px;
}

.falf-width {
    width: 50%;
    padding-left: 8%;
}

.falf-width img {
    width: 80%;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(coral, tomato);
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;

}

.top-banner {
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
}

.exp-aria {
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
}

#exp-border-1 {
    border-image: linear-gradient(#f7d9bd, #e24a0e) 30;
    border-left: 7px solid;
    border-image-slice: 1;

}

#exp-border-2 {
    border-image: linear-gradient(#babfd3, #4e20f3) 30;
    border-left: 7px solid;
    border-image-slice: 1;
}

footer p {
    text-align: center;
    font-weight: bolder;
}